body {
background-color:#1a9397;
font-family: 'Open Sans', sans-serif;
}


#contents p{
color:#000000;
margin: 2px 5px 0 0;
font-size:14px;
text-align:left;
}

h1{
font-family: 'Open Sans', sans-serif;
font-weight:800;
color:#000000;

}

#navbar {
background-color:#fff;
width:100%;
height:55px;
position: fixed;
top: 0px;
left: 0px;
}

@import url(http://fonts.googleapis.com/css?family=Raleway);
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu {
  width: auto;
  border-bottom: 3px solid #47c9af;
  font-family: Raleway, sans-serif;
  line-height: 1;
  position: absolute;
  right:30px;
  top:7px;
}
#cssmenu ul {
  background: #ffffff;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu.align-right > ul > li > a {
  margin-right: 0;
  margin-left: -4px;
}
#cssmenu > ul > li > a {
  z-index: 2;
  padding: 18px 25px 12px 25px;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  color: #444444;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  margin-right: -4px;
}

#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover {
  color: #ffffff;
}
#cssmenu > ul > li > a:after{
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 120%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  content: "";
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: perspective(5px) rotateX(2deg);
  -webkit-transform-origin: bottom;
  -moz-transform: perspective(5px) rotateX(2deg);
  -moz-transform-origin: bottom;
  transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom;
}
#cssmenu > ul > li.current-menu-item > a,
#cssmenu > ul > li:hover > a:after,
#cssmenu > ul > li > a:hover:after 
{
  background: #47c9af;
   border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  content: "";
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: perspective(5px) rotateX(2deg);
  -webkit-transform-origin: bottom;
  -moz-transform: perspective(5px) rotateX(2deg);
  -moz-transform-origin: bottom;
  transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom;

   
}

#cssmenu > ul > li > .sub-menu{
	display:none;
}

#flexslider{
  width:100%;
  position:absolute;
  top:50px;
  left:0px;
}

#content {
	background-color:#fff;
	width:100%;
	margin:auto;
        position:absolute;
        top:680px;
        height:auto;
        left:0;
}

#contents img{
  box-sizing:border-box;
 
}

#contents img.wp-post-image{}

#contents img.attachment-thumbnail {
  float:left;
  margin: 10px 10px 10px 10px;
}
  
}

#contents img.attachment-medium
{}
#contents img.attachment-large
{}
 #contents img.attachment-full
{}


#contents article.post-excerpt{
  overflow: hidden;
  margin-bottom:10px;
  border-bottom:1px solid #ddd;
  padding-bottom:10px;
  
}

#information {
	z-index:2222;
	width:100%;
	background:#fff;
}

.about {
	height:320px;
	width:450px;
	background:#fff;
	border-right:#666 1px solid;
	border-bottom:#fff 5px solid;
	float:left;
}

.mission {
	height:320px;
	width:450px;
	background:#fff;
	border-right:#666 1px solid;
	border-bottom:#fff 5px solid;
	float:left;
}

#contents {
        
        width:800px;
        margin:50px -600px;
        left: 50%;
        position:absolute;
        background-color:#fff;
}

#sidebar {
	height:100%;
        width:330px;
       
        margin:50px 200px;
        left:50%;
        position:absolute;
        background-color:#fff;
}

li {
	margin-left:20px;
}


img{
	margin:10px;

}
h2{
	margin:10px;
	margin-bottom:2px;
}

h3 {
	margin:10px;
margin-bottom:2px;
}

blockquote{
	margin:20px;
}


small{
	margin-bottom:2px;
	font-size:12px;
	
}

ul{
margin:10px;
}

h1{
	font-family: 'Open Sans', sans-serif;
	font-weight:800;
	
}

#footer{
background-color: (255,255,255, 0.9); 
width: 100%;
height: 50px;
position: fixed;
bottom: 0px;
left: 0px;
}




/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}




